.panel{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 5px;
}
.panel__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.panel__header__tittle{
  font-size: 22px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: rgb(220, 221, 245);
}
.panel__header__go-back{
  display: block;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(220, 221, 245);
}
.panel__header__go-back:hover{
  color: rgb(0, 0, 0);
}
.panel__header__container{
  width: 25px;
  height: 25px;
}
.panel__chat-tittle{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(220, 221, 245);
  font-size: 22px;
  text-align: center;
}
.panel__user-list{
  height: calc(100% - 30px);
}
.panel__user-list__tittle{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(220, 221, 245);
  font-size: 20px;
}
