<a class="log-in-href" routerLink="/logIn">LogIn</a>
<form class="sign-up__form" [formGroup]="signUpForm" (ngSubmit)="sendSignUpRequest()">
  <img class="sign-up__form__logo" src="../../../../assets/images/icons/auth.png">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <div class="sign-up__form__input">
    <div class="sign-up__form__input__warning" *ngIf="checkInput('login')">Please, enter login</div>
    <input class="sign-up__form__input__place form-control" [ngClass]="{'sign-up__form__input__place_error' : checkInput('login')}" type="text" placeholder="Login" formControlName="login">
  </div>
  <div class="sign-up__form__input">
    <div class="sign-up__form__input__warning" *ngIf="checkInput('firstName')">Please, enter first name</div>
    <input class="sign-up__form__input__place form-control" [ngClass]="{'sign-up__form__input__place_error' : checkInput('firstName')}" type="text" placeholder="First name" formControlName="firstName">
  </div>
  <div class="sign-up__form__input">
    <div class="sign-up__form__input__warning" *ngIf="checkInput('lastName')">Please, enter last name</div>
    <input class="sign-up__form__input__place form-control" [ngClass]="{'sign-up__form__input__place_error' : checkInput('lastName')}" type="text" placeholder="Last name" formControlName="lastName">
  </div>
  <div class="sign-up__form__input">
    <div class="sign-up__form__input__warning" *ngIf="checkInput('password')">Please, enter password</div>
    <input class="sign-up__form__input__place form-control" [ngClass]="{'sign-up__form__input__place_error' : checkInput('password')}" type="password" placeholder="Password" formControlName="password">
  </div>
  <div class="sign-up__form__input">
    <div class="sign-up__form__input__warning" *ngIf="checkInput('rePassword')">Passwords do not match</div>
    <input class="sign-up__form__input__place form-control" [ngClass]="{'sign-up__form__input__place_error' : checkInput('rePassword')}" type="password" placeholder="Repeat password" formControlName="rePassword">
  </div>
  <p *ngIf="errorMessage != ''" class="sign-up__form__warning">{{errorMessage}}</p>
  <div class="sign-up__form__input">
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signUpForm.invalid">Sign up</button>
  </div>
  <p class="sign-up__form__copyright text-muted">© 2020-2021</p>
</form>
