.chat{
  background-color: rgb(220, 221, 245);
  height: 100%;
  color: #363656;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.chat_clicked{
  color: rgb(220, 221, 245);
  background-color: #363656;
}
.chat_hidden{
  display: none;
}
.chat__information{
  align-items: center;
  padding: 5px;
}
.chat__information__content{
  font-weight: bold;
  color: #363656;
}
.chat__information__content_clicked{
  color: rgb(220, 221, 245);
}
.chat__information__container{
  padding-left: 5px;
}
.chat__information__container__image{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.chat__new-messages_hidden{
  display: none;
}
.chat__new-messages_shown{
  width: 13px;
  height: 13px;
  border-radius: 100%;
  display: block;
  background-color: #2BE940;
}
.chat__information__content__message{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 768px){
  .chat__information__container{
    display: none;
  }
}
