<div class="chat card-body" (click)="clickChatEventListener()"
     [ngClass]="{'chat_clicked' : chat.isClicked, 'chat_hidden' : !chat.isShown}">
  <div class="col-sm-8 chat__information">
    <p class="card_tittle">{{chat.chatName}}</p>
    <p *ngIf="!isChatEmpty()" class="chat__information__message card-text">{{chat.lastUserLogin}}: {{chat.lastMessage}}</p>
    <p *ngIf="isChatEmpty()" class="chat__information__message card-text">Begin conversation...</p>
  </div>
  <span class="chat__new-messages_hidden" [ngClass]="{'chat__new-messages_shown' : !chat.read}"></span>
</div>
