.user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(220, 221, 245);
  padding: 10px;
  color: #585886;
  font-weight: bold;
}
.user__image{
  width: 35px;
  height: 35px;
}
.user__login{
  margin-right: 15px;
  cursor: pointer;
}
.user__add-button{
  outline: none !important;
  border: none;
  padding: 5px;
  background-color: #32CD32;
  width: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
}
.user__delete-button{
  outline: none !important;
  border: none;
  width: 25px;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #c01934;
  border-radius: 5px;
}
.user__delete-button,
.user__add-button{
  margin-right: 20px;
}
