<div class="row no-gutters"><a routerLink="/signUp">SignUp</a></div>
<form class="form-signin">
  <img class="mb-4" src="../../../../assets/images/icons/auth.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
  <label for="inputEmail" class="sr-only">Login</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Login" required="" autofocus="" name="login" [(ngModel)]="userLogInForm.login">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password" [(ngModel)]="userLogInForm.password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="logIn()">Log in</button>
  <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</form>
