.sign-up-href{
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin: 30px;
}
.log-in__form{
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  font-weight: 400;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.log-in__form__logo{
  margin-bottom: 5px;
  height: 72px;
  width: 72px;
}
.log-in__form__input__place{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.log-in__form__input__place_error{
  border-color: #c01934;
}
.log-in__form__input__place:focus{
  z-index: 2;
}
.log-in__form__input__warning, .log-in__form__warning{
  margin: 15px;
  color: #c01934;
}
.log-in__form__copyright{
  margin-top: 20px;
}


