<div class="user-profile">
  <div class="user-profile__container">
    <div class="user-profile__container__close-icon">
      <img class="user-profile__container__close-icon__img" src="../../../../../assets/images/icons/close.png" (click)="clickCloseIconListener()">
    </div>
    <div class="user-profile__container__profile">
      <div class="row no-gutters">
        <p class="user-profile__container__tittle">Profile update</p>
      </div>
      <div class="row no-gutters">
        <img class="user-profile__container__user-image" src="{{imageURL === '' ? this.user.imageUrl : imageURL}}">
        <div class="user-profile__container__user-information">
          <div class="user-profile__container__user-information__row">
            <p class="user-profile__container__user-information__row__label">Login: </p>
            <p class="user-profile__container__user-information__row__content">{{user.login}}</p>
          </div>
          <div class="user-profile__container__user-information__row">
            <p class="user-profile__container__user-information__row__label">First name: </p>
            <input class="user-profile__container__user-information__row__input" [(ngModel)]="firstName">
          </div>
          <div class="user-profile__container__user-information__row">
            <p class="user-profile__container__user-information__row__label">Last name: </p>
            <input class="user-profile__container__user-information__row__input" [(ngModel)]="lastName">
          </div>
          <div class="user-profile__container__user-information__row">
            <p class="user-profile__container__user-information__row__label">Image URL: </p>
            <input class="user-profile__container__user-information__row__input" placeholder="Write image URL" [(ngModel)]="imageURL">
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <button class="user-profile__container__user-button" (click)="updateCurrentUser()">Update</button>
      </div>
    </div>
  </div>
</div>
