.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.search_icon{
  display: block;
  width: 25px;
  height: 25px;
  margin: 5px;
}
.search_input{
  border: none;
  outline: none !important;
  background: rgba(63, 63, 95, 0.9);
  height: 25px;
  border-radius: 5px;
  width: 100%;
  padding: 15px 10px;
  color: rgb(220, 221, 245);
}
.search_input::placeholder{
  color: rgb(220, 221, 245);
}
